page-tictactoe {

    .container{
        z-index: 9;
    }

    .fila{
        display: flex;
    }

    .casilla{
        padding: 25px;
        background: #ffffff42;
        margin: 1px;
        width: 57px;
        height: 57px;
    }

    .info-text{
        padding: 10px 0px;
        color: #fff;
    }

    .container-button{
        width: 177px;
        display: flex;
        z-index: 9;

        button{
            flex: 1;
        }
    }

    .text-ganador{
        font-size: 32px;
    }

    .text-ganador-ficha{
        font-size: 60px;
        text-align: center;
        font-weight: bold;
    }

    ion-item{
        position: absolute !important;
        top: 0 !important;
        color: #fff !important;
        z-index: 9 !important;
        border: none !important;
        background-color: transparent !important;

        .item-inner{
            border: none !important;
        }

        ion-label{
            color: #fff !important;
        }

        .select-icon-inner{
            color: #fff !important;
        }
    }




    .loader-app__text {
        font-size: 30px;
        z-index: 2;
        color: #fff;
      }
      .wrapper {
        background: #50a3a2;
        background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .wrapper.form-success .container h1 {
        transform: translateY(85px);
      }
      .bg-bubbles {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        padding: 0;
      }
      .bg-bubbles li {
        position: absolute;
        list-style: none;
        display: block;
        width: 40px;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.15);
        bottom: -160px;
        animation: square 25s infinite;
        transition-timing-function: linear;
      }
      .bg-bubbles.loader-app--bottom li {
        bottom: 0px;
      }
      .bg-bubbles.loader-app--bottom li:nth-child(3) {
        animation-delay: .1s;
      }
      .bg-bubbles.loader-app--bottom li:nth-child(7) {
        animation-delay: .3s;
      }
      .bg-bubbles li:nth-child(1) {
        left: 10%;
      }
      .bg-bubbles li:nth-child(2) {
        left: 20%;
        width: 80px;
        height: 80px;
        animation-delay: 2s;
        animation-duration: 17s;
      }
      .bg-bubbles li:nth-child(3) {
        left: 25%;
        animation-delay: 4s;
      }
      .bg-bubbles li:nth-child(4) {
        left: 40%;
        width: 60px;
        height: 60px;
        animation-duration: 22s;
        background-color: rgba(255, 255, 255, 0.25);
      }
      .bg-bubbles li:nth-child(5) {
        left: 70%;
      }
      .bg-bubbles li:nth-child(6) {
        left: 80%;
        width: 120px;
        height: 120px;
        animation-delay: 3s;
        background-color: rgba(255, 255, 255, 0.2);
      }
      .bg-bubbles li:nth-child(7) {
        left: 32%;
        width: 160px;
        height: 160px;
        animation-delay: 7s;
      }
      .bg-bubbles li:nth-child(8) {
        left: 55%;
        width: 20px;
        height: 20px;
        animation-delay: 15s;
        animation-duration: 40s;
      }
      .bg-bubbles li:nth-child(9) {
        left: 25%;
        width: 10px;
        height: 10px;
        animation-delay: 2s;
        animation-duration: 40s;
        background-color: rgba(255, 255, 255, 0.3);
      }
      .bg-bubbles li:nth-child(10) {
        left: 90%;
        width: 160px;
        height: 160px;
        animation-delay: 11s;
      }
      @-webkit-keyframes square {
        0% {
          transform: translateY(0);
        }
        100% {
          transform: translateY(-700px) rotate(600deg);
        }
      }
      @keyframes square {
        0% {
          transform: translateY(0);
        }
        100% {
          transform: translateY(-700px) rotate(600deg);
        }
      }
}
